.swiper_img {
  width: 100vw;
  height: 650px;
}

@media (width < 1024px) {
  .swiper_img {
    height: 600px;
  }
}
@media (width < 910px) {
  .swiper_img {
    height: 570px;
  }
}
@media (width < 800px) {
  .swiper_img {
    height: 540px;
  }
}
@media (width < 720px) {
  .swiper_img {
    height: 500px;
  }
}
@media (width < 670px) {
  .swiper_img {
    height: 480px;
  }
}
@media (width < 600px) {
  .swiper_img {
    height: 400px;
  }
}
@media (width < 500px) {
  .swiper_img {
    height: 300px;
  }
}
@media (width < 450px) {
  .swiper_img {
    height: 250px;
  }
}
@media (width < 400px) {
  .swiper_img {
    height: 200px;
  }
}
