.section1 {
  background-color: rgba(189, 188, 188, 0.459);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.input1 {
  width: 500px;
  height: 38px;
  font-size: 1.5rem;
  margin-bottom: 0.2em;
}

.return_div {
  width: 309px;
  box-shadow: 2px 2px 2px var(--boxshadow);
  display: flex;
  padding-bottom: 3em;
  font-size: var(--small-text);
  margin-inline: auto;
  margin-bottom: 1em;
}

.figure {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin-top: 0.109em;
}

.figure_img {
  width: 309px;
  height: 200px;
}
.section {
  margin-top: 5em;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.8em;
  width: 1000px;
  padding: 0.1em;
}

@media (width <1002px) {
  .return_div {
    width: 279px;
  }

  .figure_img {
    width: 279px;
  }
  .section {
    column-gap: 2.2em;
    width: 920px;
  }
}
@media (width <921px) {
  .return_div {
    width: 259px;
  }

  .figure_img {
    width: 259px;
  }
  .section {
    width: 859px;
  }
}
@media (width <860px) {
  .return_div {
    width: 239px;
  }

  .figure_img {
    width: 239px;
  }
  .section {
    width: 800px;
  }
}
@media (width < 801px) {
  .return_div {
    width: 209px;
    font-size: var(--little-text);
  }

  .figure_img {
    width: 209px;
    height: 180px;
  }
  .section {
    width: 720px;
  }
}
@media (width < 722px) {
  .return_div {
    width: 189px;
  }

  .figure_img {
    width: 189px;
    height: 160px;
  }
  .section {
    width: 650px;
  }
}
@media (width < 647px) {
  .return_div {
    width: 259px;
    font-size: var(--small-text);
  }

  .figure_img {
    width: 259px;
    height: 160px;
  }
  .section {
    width: 570px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width < 572px) {
  .return_div {
    width: 209px;
    font-size: var(--little-text);
  }

  .figure_img {
    width: 209px;
  }
  .section {
    width: 470px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width < 545px) {
  .input1 {
    width: 400px;
  }
  .input1_button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .slides_btn {
    display: block;
  }
}
@media (width < 472px) {
  .return_div {
    width: 189px;
  }

  .figure_img {
    width: 189px;
    /* height: 160px; */
  }
  .section {
    width: 430px;
  }
}
@media (width < 433px) {
  .input1 {
    width: 300px;
  }

  .return_div {
    width: 159px;
  }

  .figure_img {
    width: 159px;
    /* height: 160px; */
  }
  .section {
    width: 370px;
  }
}
@media (width < 372px) {
  .input1 {
    width: 300px;
  }

  .return_div {
    width: 139px;
  }

  .figure_img {
    width: 139px;
    height: 100px;
  }
  .section {
    width: 100vw;
  }
}
